.searchForm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 15px;

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
  0px 2px 1px rgb(0 0 0 / 20%);

}
.search {
  width: 300px;
  padding: 10px 15px;
  
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
  0px 2px 1px rgb(0 0 0 / 20%);
}


.searchBtn {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;

  line-height: 1.5;
  font-weight: bold;

  color: #212529;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;

  transition: all 500ms ease-out;

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
  0px 2px 1px rgb(0 0 0 / 20%);
}

.searchBtn:hover {
  border: 1px solid white;
  color: white;
  background-color: red;

  transition: all 500ms ease-out;
}
