.title {
  display: inline-block;
  margin-top: 20px;
  
  cursor: default;

  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;

  transition: background-size 0.3s;
}
.title:hover {
  background-size: 100% 2px;
  transition: background-size 0.3s;
}
