.btn {
  padding: 7px 12px;
  margin-top: 20px;
  color: red;
  background-color: #fff;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;

  transition: all 500ms ease-out;
}

.btn:hover {
  color: #fff;
  background-color: red;
  transform: scale(1.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 500ms ease-out;
}
